.drop-menu1 ,.drop-menu2 ,.drop-menu3 ,.drop-menu4 ,.drop-menu5 ,.drop-menu6 ,.drop-menu7 ,.drop-menu8 ,.drop-menu9 ,.drop-menu10 {
  border-bottom: 1px solid #d5d5d5;
  padding-top:10px;
  font-size: 13px;
  font-weight: 400;
}
.drop-menu11{
  padding-top:10px;
  font-size: 13px;
  font-weight: 400;
}
.drop-menu1 .drop-menu1-1,.drop-menu2 a ,.drop-menu3 a ,.drop-menu4 a ,.drop-menu5 a ,.drop-menu6 a ,.drop-menu7 a ,.drop-menu8 a ,.drop-menu9 a ,.drop-menu10 a ,.drop-menu11 a ,.drop-menu12 a {
  color:black;
  text-decoration: none;
  padding-left: 10px;
}

.drop-menu1:hover ,.drop-menu2:hover ,.drop-menu3:hover ,.drop-menu4:hover ,.drop-menu5:hover ,.drop-menu6:hover ,.drop-menu7:hover ,.drop-menu8:hover ,.drop-menu9:hover ,.drop-menu10:hover ,.drop-menu11:hover ,.drop-menu12:hover {
  background:white;
  
}
.drop-menu1:hover .drop-menu1-1 ,.drop-menu2:hover .drop-menu2-1 ,.drop-menu3:hover .drop-menu3-1 ,.drop-menu4:hover .drop-menu4-1 ,.drop-menu5:hover .drop-menu5-1 ,.drop-menu6:hover .drop-menu6-1 ,.drop-menu7:hover .drop-menu7-1 ,.drop-menu8:hover .drop-menu8-1 ,.drop-menu9:hover .drop-menu9-1 ,.drop-menu10:hover .drop-menu10-1 ,.drop-menu11:hover .drop-menu11-1 ,.drop-menu12:hover .drop-menu12-1 {
  color:orange;
}

.drop-menu1:hover .drop-menu-1-2 ,.drop-menu2:hover .drop-menu-2-2 ,.drop-menu3:hover .drop-menu-3-2 ,.drop-menu4:hover .drop-menu-4-2 ,.drop-menu5:hover .drop-menu-5-2 ,.drop-menu6:hover .drop-menu-6-2 ,.drop-menu7:hover .drop-menu-7-2 ,.drop-menu8:hover .drop-menu-8-2 ,.drop-menu9:hover .drop-menu-9-2 ,.drop-menu10:hover .drop-menu-10-2 ,.drop-menu11:hover .drop-menu-11-2 ,.drop-menu12:hover .drop-menu-12-2 {
  display: block;
}

.drop-menu-1-2 ,.drop-menu-2-2 ,.drop-menu-3-2 ,.drop-menu-4-2 ,.drop-menu-5-2 ,.drop-menu-6-2 ,.drop-menu-7-2 ,.drop-menu-8-2 ,.drop-menu-9-2 ,.drop-menu-10-2 ,.drop-menu-11-2 ,.drop-menu-12-2  {
  list-style: none;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width:650px;
  height:341px;
  background: white;
  z-index: 3;

}

.drop-menu-1-2 a ,.drop-menu-2-2 a ,.drop-menu-3-2 a ,.drop-menu-4-2 a ,.drop-menu-5-2 a ,.drop-menu-6-2 a ,.drop-menu-7-2 a ,.drop-menu-8-2 a ,.drop-menu-9-2 a ,.drop-menu-10-2 a ,.drop-menu-11-2 a ,.drop-menu-12-2 a  {
  padding: 5px;
  display: block;
  color: black;
  text-decoration: none;
  background: white;
}
.drop-menu-1-2 a:hover ,.drop-menu-2-2 a:hover ,.drop-menu-3-2 a:hover ,.drop-menu-4-2 a:hover ,.drop-menu-5-2 a:hover ,.drop-menu-6-2 a:hover ,.drop-menu-7-2 a:hover ,.drop-menu-8-2 a:hover ,.drop-menu-9-2 a:hover ,.drop-menu-10-2 a:hover ,.drop-menu-11-2 a:hover  {
  color:orange;
}
.drop-menu-1-2 h6 ,.drop-menu-2-2 h6,.drop-menu-3-2 h6,.drop-menu-4-2 h6,.drop-menu-5-2 h6,.drop-menu-6-2 h6,.drop-menu-7-2 h6,.drop-menu-8-2 h6,.drop-menu-9-2 h6,.drop-menu-10-2 h6,.drop-menu-11-2 h6 {
  color:red;
}

.menu-dropdown {
  list-style: none;
  display: none;
  position: absolute;
  width:250px;
  background:white;
  top: 100%; 
  left: 0;
  z-index:1;
}

.menu-dropdown ul
{
  list-style-type: none;
}


.menu-dropdown a:hover {
  color: orange;
}
.menu1:hover .menu-dropdown {
  display: block;
}
.breadcrumb {
    margin: 5px auto;
    padding: 5px;
    display: flex;
    width: 1150px;
    justify-content: left;
    position: relative;
  }
  .breadcrumb-item a {
    text-decoration: none;
    color: black;
  }
  
  .breadcrumb-item.active {
    color: grey;
  }
  
  .sub-menu {
      font-family: Arial, sans-serif;
      background-color: white; /* Thêm màu nền trắng */
      margin: 20px auto;
      padding: 20px;
      display: block;
      width: 1150px;
      justify-content: center;
    }
    
    .sub-menu-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 20px;
      justify-content: center;
    }
    
    .item {
      background-color: white;  
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      position: relative;
    }
    
    .item img {
      width: 100%;
      height: 100%;
      display: block;
    }
    
    .item .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%; 
      background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.75)); /* Gradient từ trong suốt đến màu đen */
      transition: height 0.3s ease; /* Thêm hiệu ứng chuyển động */
    }
    
    .item:hover .overlay {
      height: 100%; /* Khi di chuột qua, hiện lớp overlay full chiều cao của ảnh */
    }
    
    .item-content {
      padding: 10px;
    }
    
    .item-title a{
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0 5px;
      color: white;
      position: absolute;
      bottom: 12px;
      left: 5px;
      background-color: rgba(0, 0, 0, 0.0);
      padding: 5px;
      border-radius: 5px;
      text-decoration: none;
    }
    
    .item-title-1 a{
      font-size: 17px;
      color: white;
      font-weight:bold;
      position: absolute;
      bottom: 12px;
      left: 5px;
      background-color: rgba(0, 0, 0, 0.0);
      padding: 5px;
      border-radius: 5px;
      text-decoration: none;
    }
    
    .item-date {
      font-size: 12px;
      color: white;
      position: absolute;
      bottom: 0px;
      left: 5px;
      background-color: rgba(0, 0, 0, 0);
      padding: 5px;
      border-radius: 5px;
    }
    
    .item.large {
      flex: 1 1 45%;
    }
    
    .item.small {
      flex: 1 1 22%;
    }
  
    .book-container {
      width: 1150px;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    
    /* Book List and Items */
    .book-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    
    .book-item {
      display: flex;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    
    .book-item img {
      width: 150px;
      height: auto;
      margin-right: 20px;
      border-radius: 8px;
      object-fit: cover;
    }
    
    .book-info {
      display: flex;
      flex-direction: column;
    }
  
    .book-title a{
      font-size: 0.9em;
      margin-bottom: 5px;
      color: black;
      font-weight: bold;
    }
  
    .book-title a:hover{
      font-size: 0.9em;
      margin-bottom: 5px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    
    .book-date {
      font-size: 0.75em;
      color: #999;
      margin-bottom: 10px;
    }
    
    .book-description {
      font-size: 0.9em;
      color: #666;
      margin-bottom: 10px;
    }
    
    .read-more {
      font-size: 1em;
      color: rgb(190, 88, 51);
      text-decoration: none;
    }
  
    .read-more a:hover {
      font-size: 1em;
      color: rgb(190, 88, 51);
      text-decoration: none;
    }
    
    /* Responsive Design */
    @media (max-width: 768px) {
      .book-item {
          flex-direction: column;
          align-items: center;
      }
      
      .book-item img {
          margin-right: 0;
          margin-bottom: 10px;
      }
    }